html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}

@font-face {
  font-family: InterBold;
  src: url(font/Inter-Bold.ttf);
}

@font-face {
  font-family: InterRegular;
  src: url(font/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: InterRegular, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  background-image: url("images/mobile.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 0 60px;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-text {
  font-size: 20px;
  margin: 0 12px;
  padding: 10px 12px;
}

header img {
  margin: 0 12px;
}

.headline {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.headline h1 {
  font-family: interBold, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-top: 100px;
  padding: 20px;
}

#second-h1 {
  color: #36b37e;
}

.headline p {
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  list-style: none;
}

.social i {
  padding: 10px;
  font-size: 25px !important;
  color: #172b4d;
}

.more-img {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
}

.recents-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-work {
  font-family: InterBold, sans-serif;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  padding: 30px;
}

.under-bar {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 24px auto;
}

.works {
  margin-top: 38px;
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: auto;
}

.work {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.work img {
  height: 252px;
  width: 310px;
}

.work-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  flex-grow: 1;
}

.work-description {
  font-family: InterRegular, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  padding: 16px;
}

.work ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.work li {
  font-family: InterBold, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0 4px;
  overflow: visible;
}

.work-button {
  font-family: InterRegular, sans-serif;
  font-size: 17px;
  line-height: 24px;
  justify-content: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  margin: 24px 0;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/about-background.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.about-me {
  font-family: InterBold, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 0 12px;
  margin-top: 35px;
  color: #172b4d;
}

.about-description {
  font-family: InterRegular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px 12px;
}

.resume-button {
  border: 0;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  margin-top: 12px;
  font-family: InterRegular, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.frames-langs {
  margin-top: 59px;
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: auto;
}

.frame {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  max-height: 474px;
}

.frame img {
  max-width: 135px;
  height: 135px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.frame h2 {
  margin-top: 10px;
  font-family: InterRegular, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.frame ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 70px;
}

.frame li {
  font-family: InterBold, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  margin: 4px;
}

.onpress:active {
  background: #008552;
}

.resume-button:active,
.work-button:active {
  background: #008552;
}

.form-section p {
  padding: 24px;
  font-family: InterBold,sans-serif;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/contact-backgroung.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.form-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section input {
  width: 327px;
  height: 48px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 15px 16px;
  font-size: 15px;
  font-family: InterRegular,sans-serif;
  font-weight: normal;
  color: #6b778c;
  margin-bottom: 24px;
}

.form-section textarea {
  width: 327px;
  height: 114px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: InterRegular,sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #091e42;
  padding: 12px;
}

.form-section button {
  margin-top: 26px;
  margin-bottom: 10px;
}

.form-section i {
  color: #505f79;
}
